* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  list-style: none;
  color: #2b2b2b;
}

*::selection {
  text-decoration: none;
  color: #cfd1d8;
  outline: #47484b;
}

html {
  scroll-behavior: smooth;
  color: #000;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #79cdc3 #cfd1d8;
}

/*Page de chargement*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/*Bloquer le scroll au chargement*/

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

html, body {
  height: 100%;
}

/*Logo de chargement animé*/

.loader {
  animation: rotate 2s infinite;
  height: 70px;
  width: 70px;
}

.loader:before, .loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 30px;
  width: 30px;
}

.loader:before {
  animation: ball1 2s infinite;
  background-color: #ff2674;
  box-shadow: 40px 0 0 #ceeb7f;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 2s infinite;
  background-color: #79cdc3;
  box-shadow: 40px 0 0 #fee266;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 40px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 40px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 40px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -30px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 40px 0 0 #97bf0d;
    margin-top: 0;
  }
}

body {
  min-height: 100vh;
  position: unset;
  /*background: url(images/Banniere.png) no-repeat;
  background-size: contain;
  /*z-index: -3;*/
}

main {
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(55, 56, 60, .1);
  background: #fff;
  z-index: 100;
  height: 80px;
}

header nav {
  margin: 0 100px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: inline-flex;
  position: relative;
}

nav ul a {
  margin: 10px 10px;
  font-weight: 400;
  width: 120px;
  display: inline-block;
  text-align: center;
  position: relative;
  color: #2b2b2b;
  font-size: 20px;
  text-decoration: none;
  outline: 0;
}

nav ul a:first-child {
  margin-left: 0;
}

nav ul a:last-child {
  margin-right: 0;
}

nav>a, nav>a:visited {
  /*William Stephan sur le header*/
  font-size: 20px;
  padding-bottom: 3px;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(45deg, #79cdc3, #ceeb7f, #fee266, #ff2674);
  border-image-slice: 1;
}

.ToTheTop {
  /*CSS propre au bouton pour scroll up*/
  text-align: center;
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #79cdc3;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 5px 5px;
  border-radius: 50px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease-in-out;
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.ToTheTop:hover {
  background-color: #79cdc3;
  transform: scale(1.1);
}

.ToTheTop:hover i {
  animation: up 1.5s ease-in-out infinite;
}

@keyframes up {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, -5px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.ToTheTop>i {
  color: #fff;
  font-size: 30px;
  margin: 0;
}

.landing-page {
  margin-bottom: 200px;
}

svg {
  position: absolute !important;
  height: auto;
  z-index: -1;
}

.element1 {
  top: -18% !important;
  left: -9%!important;
  width: 27%;
  animation: circle1 300s linear infinite;
}

.element2 {
  top: 25% !important;
  left: 10% !important;
  width: 5%;
  animation: circle2 100s linear infinite;
}

.element3 {
  top: 27% !important;
  left: 3% !important;
  width: 11%;
  animation: circle3 350s linear infinite;
}

.element4 {
  top: -3% !important;
  left: 24% !important;
  width: 12%;
  animation: circle4 380s linear infinite;
}

.element5 {
  top: -8% !important;
  left: 56% !important;
  width: 16%;
  animation: circle3 400s linear infinite;
}

.element6 {
  top: -5% !important;
  left: 85% !important;
  width: 13%;
  animation: circle1 350s linear infinite;
}

.element7 {
  top: 18% !important;
  left: 93% !important;
  width: 12%;
  animation: circle4 380s linear infinite;
}

.element8 {
  top: 55% !important;
  left: 90% !important;
  width: 5%;
  animation: circle1 80s linear infinite;
}

.element9 {
  top: 75% !important;
  left: 88% !important;
  width: 13%;
  animation: circle3 150s linear infinite;
}

.element10 {
  top: 50% !important;
  left: 0% !important;
  width: 7%;
  animation: circle3 150s linear infinite;
}

.element11 {
  top: 75% !important;
  left: 0% !important;
  width: 11%;
  animation: circle2 150s linear infinite;
}

.element12 {
  top: 80% !important;
  left: -3% !important;
  width: 15%;
  animation: circle3 150s linear infinite;
}

/*
@keyframes circle1 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}

@keyframes circle3 {
  from {
    transform: rotate(0deg) translate(-20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-20px) rotate(360deg);
  }
}

@keyframes circle2 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}

@keyframes circle4 {
  from {
    transform: rotate(360deg) translate(-35px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-35px) rotate(0deg);
  }
}
*/

.landing-page h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
}

.tab {
  position: absolute;
  width: 20.5%;
  height: 3px;
  top: 90%;
  left: 10px;
  bottom: 0;
  background: #79cdc3;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

section {
  min-height: 100vh;
}

.medias {
  position: fixed;
  left: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.medias a {
  color: #2b2b2b;
  margin: 5px 0;
  font-size: 25px;
  transition: all ease-in-out .15s;
}

.medias a:visited {
  color: #2b2b2b;
}

.medias .dribbble:hover {
  color: #cf5300;
}

.medias .insta:hover {
  color: #d62976;
}

.medias .in:hover {
  color: #0a66c2;
}

/* ----- Offset des Anchors (car le menu est sticky) ------- */

/*Offset de Portfolio*/

#profil::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#portfolio::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#contact::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#scene {
  width: 100%;
  height: 100vh;
}

.banner-text {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-text a {
  position: absolute !important;
  top: 80%;
  animation: floating 2.5s ease-in-out infinite;
}

/*chevron down SVG*/

.banner-text svg {
  position: relative !important;
}

@keyframes floating {
  from {
    top: 80%;
  }
  50% {
    top: 83%;
  }
  to {
    top: 80%;
  }
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home h1 {
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

#home span {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 70px;
}

#home p {
  text-align: center;
  font-weight: 200;
  margin-bottom: 30px;
  font-size: 30px;
}

#profil, #contact, #portfolio, #parcours, #competences {
  margin: auto;
  margin-bottom: 150px;
  max-width: 1200px;
}

#profil article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#profil h2 {
  text-align: center;
  width: 350px;
  margin: 50px auto 60px auto;
  font-size: 40px;
  font-weight: 700;
  color: #2b2b2b;
  padding-bottom: 8px;
  border-bottom: #ceeb7f 5px solid;
}

#profil figure {
  width: 40%;
  margin-right: 50px;
}

#profil figure img {
  max-width: 100%;
  height: auto;
}

#profil article div {
  padding-right: 50px;
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

#profil article div h3 {
  font-weight: 500;
  font-size: 40px;
  color: #2b2b2b;
  line-height: 1.3em;
  padding-left: 10px;
  border-left: #ceeb7f 5px solid;
}

#profil article div h4 {
  padding-left: 10px;
  font-weight: 300;
  font-size: 26px;
  color: #37383c;
  line-height: 1.3em;
  margin-bottom: 30px;
}

#profil article div p {
  font-size: 20px;
  line-height: 1.7;
  color: #4B4B4B;
}

.bg {
  background: url(images/BanniereParcours.png) no-repeat;
  background-size: 100%;
}

#parcours {
  display: flex;
  justify-content: center;
}

#parcours article {
  display: flex;
  flex-direction: column;
}

#parcours h3 {
  font-weight: 500;
  font-size: 40px;
  color: #2b2b2b;
  line-height: 1.3em;
  padding-left: 10px;
  border-left: #ceeb7f 5px solid;
  margin-bottom: 50px;
  align-self: center;
}

#parcours p:nth-of-type(odd) {
  font-size: 30px;
  line-height: 1.7;
  font-weight: 500;
  margin-top: 50px;
}

#parcours p:nth-of-type(even) {
  font-size: 25px;
  line-height: 1.7;
}

#parcours a {
  transition: 0.3s ease-in-out;
  text-decoration: underline solid 3px #ceeb7f;
}

#parcours a:hover {
  color: #ceeb7f;
}

#parcours ul {
  padding: 10px;
}

#parcours li {
  margin: 6px;
  font-size: 20px;
}

#parcours li:nth-of-type(1):before {
  content: "●   ";
  color: #79cdc3;
}

#parcours li:nth-of-type(2):before {
  content: "●   ";
  color: #ceeb7f;
}

#parcours li:nth-of-type(3):before {
  content: "●   ";
  color: #fee266;
}

#parcours li:nth-of-type(4):before {
  content: "●   ";
  color: #ff2674;
}

/*////////////////////////
SECTION COMPETENCE
//////////////////////*/

#competences article {
  display: flex;
  flex-direction: column;
}

#competences article h3 {
  font-weight: 500;
  font-size: 40px;
  color: #2b2b2b;
  line-height: 1.3em;
  padding-left: 10px;
  border-left: #ceeb7f 5px solid;
  margin-bottom: 50px;
  align-self: center;
}

#competences article>div {
  display: flex;
  justify-content: space-around;
}

#competences div>p {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

#competences .logiciel{
display: flex;
flex-wrap: wrap;
}

#competences .logiciel a{
  font-size: 20px;
  display: block;
  text-align: center;
  margin-top: 10px;
  transition: all .3s ease-in-out;
  text-decoration: underline rgba(255, 255, 255, 0) 2px;
}

#competences .logiciel a:hover{
  text-decoration: underline #ceeb7f 2px;
}

#competences .icon{
  width: 100px;
  margin: 20px;
}

#competences .icon img{
  margin: auto;
  display: block;
  width: 80px;
  height: 80px;
}

.download {
  align-self: center;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #2b2b2b;
  padding: 1.25rem 2rem;
  background: #ceeb7f;
  text-transform: uppercase;
}

.download:hover {
  letter-spacing: 0.125rem;
}

/*////////////////////////
SECTION PORTFOLIO
//////////////////////*/

#portfolio h2 {
  text-align: center;
  width: 200px;
  margin: 50px auto 120px auto;
  font-size: 40px;
  font-weight: 700;
  color: #2b2b2b;
  padding-bottom: 8px;
  border-bottom: #fee266 5px solid;
}

#portfolio article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#portfolio-item-1 {
  background-image: url(images/ProjetLienSocial2.png);
}

#portfolio-item-2 {
  background-image: url(images/will.png);
  margin-left: auto;
}

#portfolio-item-3 {
  background-image: url(images/will.png);
  margin-left: auto;
}

#portfolio-item-4 {
  background-image: url(images/will.png);
  margin-left: auto;
}

#portfolio .portfolio-item {
  position: relative;
  width: calc(33% - 15px);
  margin-bottom: 30px;
  padding-top: 31.819%;
  border-radius: 10px;
  box-shadow: 5px 5px 7px 0px rgba(190, 190, 215, 0.4);
  overflow: hidden;
  background-color: #FFF;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

#portfolio .portfolio-item:hover {
  transform: scale(1.03);
}

#portfolio .portfolio-content {
  position: absolute;
  bottom: 25px;
  left: 35px;
  right: 35px;
}

#portfolio .portfolio-content h3 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#portfolio .portfolio-content p {
  margin-bottom: 3px;
  margin-left: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #555555;
}

/*////////////////////////
SECTION CONTACT
//////////////////////*/

#contact h2 {
  text-align: center;
  width: 200px;
  margin: 50px auto 100px auto;
  font-size: 40px;
  font-weight: 700;
  color: #2b2b2b;
  padding-bottom: 8px;
  border-bottom: #ff2674 5px solid;
}

#contact div {
  padding-left: 70px;
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

#contact article:first-of-type {
  display: flex;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact article:last-of-type {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

#contact article h4 {
  font-weight: 500;
  font-size: 40px;
  color: #2b2b2b;
  line-height: 1.3em;
  padding-left: 10px;
  border-left: #ff2674 5px solid;
  margin-bottom: 20px;
}

#contact article:last-of-type h4 {
  align-self: center;
  margin-bottom: 100px;
}

#contact article p {
  margin-top: 30px;
  font-weight: 300;
  font-size: 28px;
  color: #37383c;
  line-height: 1.3em;
  margin-bottom: 30px;
}

#contact address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

#contact address p {
  margin-bottom: 5px;
}

#contact address a {
  font-weight: 700;
  font-size: 28px;
  color: #37383c;
  line-height: 1.3em;
  margin-bottom: 30px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-bottom: #79cdc300 solid 5px;
  align-self: center;
}

#contact address a:hover {
  font-weight: 700;
  font-size: 28px;
  color: #37383c;
  line-height: 1.3em;
  margin-bottom: 30px;
  font-style: normal;
  letter-spacing: 2px;
  border-bottom: #79cdc3 solid 5px;
}

#contact ul {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

#contact ul a {
  margin: 10px 10px;
  text-align: center;
  position: relative;
  text-decoration: none;
  outline: 0;
}

#in {
  color: #79cdc3;
  font-size: 80px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

#dd {
  color: #ceeb7f;
  font-size: 80px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

#git {
  color: #fee266;
  font-size: 80px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

#in:hover {
  color: #65aca3;
}

#dd:hover {
  color: #a7be67;
}

#git:hover {
  color: #cab556;
}

/*///////////////////////
FOOTER
//////////////////////*/

footer {
  background-color: #fcfcfc;
  padding: 25px 0;
  border-top: 1px solid rgba(55, 56, 60, .1);
}

footer p {
  text-align: center;
  margin-top: 25px;
  line-height: 1.5;
  color: #c0bfbf;
}

footer a {
  line-height: 1.5;
  color: #c0bfbf;
  transition: 0.3s ease-in-out;
}

footer a:hover {
  color: #6d6d6d;
}